@import "../../scss/variables";

.mainZone {
    position: relative;
    margin-top: 60px;
    display: flex;
    min-height: 100%;
    .bellFoot {
        width: 100%;
        border-top: 1px solid grey;
    }
    margin-bottom: 90px;
}

@media (max-width: $desktop-small-max) {
    /* For smal deskdop */
    .mainZone {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media (min-width: $desktop-small-max) and (max-width: $desktop-large-min){
    /* For medium deskdop */
    .mainZone {
        width: 88%;
        margin-left: 6%;
        margin-right: 6%;
    }
}

@media (min-width: $desktop-large-min){
    /* For large deskdop */
    .mainZone {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
