
/* Colors */
$error-text-color: firebrick;
$warning-text-color: tomato;

$x-light-grey: #f0f0f0;
$x-light-blue: #e8f0f8;


$primary-color: #00549a;
$secondary-color: rgb(103, 160, 103);

/* Screen */
$desktop-min-width: 1280px;
$desktop-small-max: 1440px;
$desktop-large-min: 1960px;

